[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
typedjson = "==0.10.4"
discord-webhook = "==0.12.0"
python-dotenv = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
